
<h1>Longest word game</h1>
<p>Rules:</p>
<p>Type in the longest word you can think of with the set of characters given in the blue tiles</p>

<ul>
<li>5 points for an existing word in the set</li>
<li>-5 points for an empty guess</li>
<li>-3 points for an invalid word</li>
</ul>
<h2><%= link_to 'New game', new_path %></h2>

